joblib==0.11
setuptools==38.4.0
torch==0.4.0
requests==2.18.4
cryptography==2.1.4
click==6.7
numpy==1.13.1
scipy==0.19.1
pandas==0.20.3
clint==0.5.1
python_crfsuite==0.9.6
scikit_learn==0.19.2
PyYAML==5.1
